<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="scan()">Scanner</ion-button>
  <p>{{info?.product.generic_name}}</p>
  <img [src]="info?.product.image_front_url">
  <p>Nutriscore : {{info?.product.nutriscore_grade}}</p>
</ion-content>
