<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nouvelle tache</ion-label>
    <ion-input [(ngModel)]="newTask"></ion-input>
  </ion-item>
  <ion-button fill="outline" 
              color="tertiary" 
              (click)="add()"
              [disabled]="!newTask?.trim()">Ajouter la tache</ion-button>
  <ion-list>
    <ion-item *ngFor="let item of tasks" (click)="displayActionSheet(item)">
      <ion-icon *ngIf="item.isChecked" 
                name="checkmark-circle"
                color="success"></ion-icon>
      {{ item.name }}
    </ion-item>
  </ion-list>
</ion-content>
